.navbar {
    overflow: hidden;
    background-color:blueviolet;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar a{
    float: left;
    display: block;
    color:lightgray;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: purple;
    color: white;
}
.main {
    padding: 16px;
    margin-top: 30px;
    text-align: center;
}

.container {
    position: relative;
    color: white;
    width: 50%;
    overflow:hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 3s ease;
    background-color:blue;
}

.container:hover .overlay {
    opacity:1;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.bottom-center {
    position:absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,-50%)
}   
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.columndemo {
    box-sizing:border-box;
    display:grid;
	justify-content: center;
	align-content: center;
	gap: 10px;
	grid-auto-flow: column
}

.columndemo .row{
    display: flex;
}

.columndemo .column{
    width: 300px;
	height:300px;
    padding: 10px; 
}
.hoverdemo{
    text-align: center;
}

.hoverdemo p{
    background-color:white;
    color:black;
}

.hoverdemo p:hover{
    background-color:blue;
    color:white;
}

.img1 {
    display: block;
    width:100%;
    height: auto;
    filter: contrast(200%) brightness(150%);
}

#image1 {
    border: 2px dashed blue;
    padding: 20px;
    border-radius: 70px 20px;
}
.thick {
    font-weight: bold;
}

table, th, td {
    border: 2px green solid;
}

table {
    border-collapse: collapse;
    width:100%;
  }
th, td {
    text-align: left;
    padding:8px 10px 8px 10px;
}

tr:nth-child(even){background-color:#f2f2f2}

th {
    background-color: blue;   
    color: white;
}

footer {
    text-align: center;
}

.vcontainer {
    position: relative;
    text-align: center;
    color:orangered;
  }